@font-face {
    font-family: 'unicorn_regularregular';
    src: url('fonts/Unicorn/unicorn_regular-webfont.woff2') format('woff2'),
         url('fonts/Unicorn/unicorn_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: black;
    font-size: 16px;
    font-family: 'unicorn_regularregular';
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    height: 90rem;
    padding: 2rem 5rem;
}

.main button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: .8rem 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 2rem 2rem;
    cursor: pointer;
    border-radius: .8rem;
}

.main button:focus{
    color:red;
}


.main img {
    width: 70%;
    height: auto;
    border: 1px solid green;
    margin-top: 3rem;
}



h1 {
    font-size: 5rem;
    color: red;
}

h3 {
    font-size: 2rem;
    color: red;
    text-align: center;
    border: 1px solid blue;
}

p {
    border: 1px solid blue;
    height: 4rem;
    align-items: center;
}
